{% include 'nav.html' %}
{% load static%}
{% block content %}
<head>
    <style>
        form{
            /* padding-left:40%; */
            text-align: center;
        }
		#id_u_name,#id_phone_number,#id_user-img,#id_address{
			color: #ffc107;
			background: transparent;
		}
        li{
            color:red;
        }
    </style>
</head>
<body>
    <div class="payment div-style" style="min-height:500px">
        <a href="../">
            <svg style='position:absolute;' xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ffc107" class="bi bi-backspace-fill mt-4" viewBox="0 0 16 16">
                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
            </svg>
        </a>
        <h1 style="color: #ffc107">User Registration Form</h1><hr><hr><br>
        <form method="post">
			{% csrf_token %}
            <!-- {{form.as_p}} -->
            <h5>{{form.u_name.label}}</h5>
            {% if user.is_superuser %}
            <h5>{{form.u_name}}</h5>
            {% else %}
            <h5><input type="text" name="u_name" maxlength="100" required="" id="id_u_name" value="{{u_name}}" readonly></h5>
            {% endif %}
            <h6>{{form.u_name.errors}}</h6>
            <h5>{{form.phone_number.label}}</h5>
			<h5>{{form.phone_number}}</h5>
            <h6>{{form.phone_number.errors}}</h6>
            <h5>{{form.address.label}}</h5>
			<h5>{{form.address}}</h5>
            <h6>{{form.address.errors}}</h6>
		    <input type="submit" value="Register" class="btn btn-warning"><br><br>
		</form>
    </div>
</body>
{% endblock %}